name: Image Processing CI

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write   # required to push files back to repo

jobs:
  test-and-save:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          pytest -v

      - name: Commit output images to repository
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          git add output/

          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "CI: save processed images to output folder"
            git push
          fi
